
h1{

    font-size: 30px;
}

.main_Div{
width : 50%;
margin: 0 auto;
background-color:#108FDF;
}
.main_Div div{
display:inline-block;

}
.flight_number{
    width: 100%;
padding-left:30px;
height: 60px;
}
.flight_info{
    padding-left:30px;
width: 60%;
background-color:#6EB8E9;
}
.date{

width: 30%;
}
.name{
width: 69%;
}
.name *{
    display: inline-block;
}
.name p{
    font-size:17px;
width: 24%;
margin:0 0;
}
.name h1 {
font-size: 20px;
width: 73%;
margin:0 0;

}

.flight *{
    text-align: center;
display:inline-block;
margin:0 0;
}
.flight p{
width: 49%;
}

.to{
width: 48%;
}
.from{
    width: 42%;
padding-left:30px;
}

.flight_price{
width: 29%;
vertical-align: top;
}

.flight_price h1{
    font-size: 20px;



}
